<app-top-bar></app-top-bar>
<h1 style="box-sizing: border-box; text-align: center;">Añadir nueva banda</h1><br>
<div class="new-band-form-container">
    <div class="form-container-1">
        <div class="add-image">
            <h3>Añadir imagen</h3>
        </div>
    </div>
    <div class="form-container-2">
        <label for="input_1">Nombre: </label><br>
        <input type="text" class="input-field" id="input_1"><br><br>
        <div id="genres-field">
            <label for="input_genres_1">Géneros: </label><br>
            <input type="text" class="input-field" id="input_genres_1">
            <button class="add-button">+</button><br>
        </div><br><br>
        <label for="input_3">Años activa: </label><br>
        <input type="text" class="input-field" id="input_3"><br><br>
        <div id="members-field">
            <label for="input_4">Miembros: </label><br>
            <input type="text" class="input-field" id="input_4">
            <button class="add-button">+</button><br>
        </div><br><br>
        <div id="demo-field">
            <label for="input_5">Videos de demostración: </label><br>
            <input type="text" class="input-field" id="input_5">
            <button class="add-button">+</button><br>
        </div><br><br>
        <div id="exmembers-field">
            <label for="input_6">Exmiembros: </label><br>
            <input type="text" class="input-field" id="input_6">
            <button class="add-button">+</button><br>
        </div><br><br>
        <button class="submit-button">Enviar</button>
    </div>
</div>