<div class="band-detail-container">
    <div class="band-container-1">
        <iframe class="video-player" width="1920" height="1080" [src]='getVideoLink()' frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="back-button-container">
            <button class="back-button" (click)="goBack()">
                Atrás
            </button>
        </div>
    </div>
    <div class="band-container-2">
        <div class="band-image-container">
            <img class="band-image" [src]="bandData.imglink">
        </div>
        <div class="band-info">
            <p class="bold-text">Nombre: </p>{{bandData.name}}<br>
            <p class="bold-text">Géneros: </p>{{bandData.genres}}<br>
            <p class="bold-text">Años activa: </p>{{bandData.active}}<br>
            <p class="bold-text">Miembros: </p>{{bandData.members}}<br>
            <p class="bold-text">Exmiembros: </p>{{bandData.exmembers}}<br>
        </div>
    </div>
</div>