<app-top-bar></app-top-bar>
<div class="band-detail-container">
    <div class="band-container-1">
        <iframe class="video-player" width="1920" height="1080" src="https://www.youtube.com/embed/v2AC41dglnM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="back-button-container">
            <button class="back-button">
                Atrás
            </button>
        </div>
    </div>
    <div class="band-container-2">
        <div class="band-image-container">
            <img class="band-image" src="../../assets/test-images/1.jpg">
        </div>
        <div class="band-info">
            <p class="bold-text">Nombre: </p><br>
            <p class="bold-text">Géneros: </p><br>
            <p class="bold-text">Años activa: </p><br>
            <p class="bold-text">Miembros: </p><br>
            <p class="bold-text">Exmiembros: </p><br>
        </div>
    </div>
</div>